body {
  font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #313a45;
}

h3 {
  color: #004990;
  /* text-transform: uppercase; */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.columnFacet {
  width: 35%;
  float: left;
}

.columnResultList {
  width: 60%;
  float: right;
}

.resultPerPageClass {
  width: 50%;
  float: left;
}

.pagerClass {
  width: 50%;
  float: right;
}

.querySummaryClass {
  width: 100%;
  float: inherit;
}
.resultListClass {
  width: 100%;
  float: inherit;
}
.MuiPaper-root {
  margin: 12px 0;
  color: #313a45 !important;
}
.MuiTypography-body1 {
  font-size: .8rem !important;
  font-weight: 300 !important;
}

.MuiTypography-h5 {
  font-size: 1.1rem !important;
  color: #004990;
}

.MuiPaginationItem-root {
  margin: 1px 3px !important;
}

.MuiSelect-root {
  background: #ffffff !important;
}


